<form action="/creative_post" enctype="multipart/form-data" method="post">
  Titel:
  <input type="text" name="titel" /><br />
  Anleitung:
  <input type="text" name="beschreibung" /><br />
  Foto:
  <input type="file" name="bild" /><br />
  <input type="submit" />
</form>