<div class="container">
  <div class="box">
    <img
      src="https://via.placeholder.com/150"
      alt="Beispielbild"
      class="box-image"
    />
    <div class="box-description">
      <h2>Box 1 Titel</h2>
    </div>
  </div>

  <div class="box">
    <img
      src="https://via.placeholder.com/150"
      alt="Beispielbild"
      class="box-image"
    />
    <div class="box-description">
      <h2>Box 1 Titel</h2>
    </div>
  </div>

  <div class="box">
    <img
      src="https://via.placeholder.com/150"
      alt="Beispielbild"
      class="box-image"
    />
    <div class="box-description">
      <h2>Box 1 Titel</h2>
    </div>
  </div>

  <div class="box">
    <img
      src="https://via.placeholder.com/150"
      alt="Beispielbild"
      class="box-image"
    />
    <div class="box-description">
      <h2>Box 1 Titel</h2>
    </div>
  </div>

  <div class="box">
    <img
      src="https://via.placeholder.com/150"
      alt="Beispielbild"
      class="box-image"
    />
    <div class="box-description">
      <h2>Box 2 Titel</h2>
    </div>
  </div>

  <div class="box">
    <img
      src="https://via.placeholder.com/150"
      alt="Beispielbild"
      class="box-image"
    />
    <div class="box-description">
      <h2>Box 1 Titel</h2>
    </div>
  </div>

  <div class="box">
    <img
      src="https://via.placeholder.com/150"
      alt="Beispielbild"
      class="box-image"
    />
    <div class="box-description">
      <h2>Box 3 Titel</h2>
    </div>
  </div>

  <div class="box">
    <img
      src="https://via.placeholder.com/150"
      alt="Beispielbild"
      class="box-image"
    />
    <div class="box-description">
      <h2>Box 4 Titel</h2>
    </div>
  </div>
</div>