<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/profil"><img
            src="/public/uploads/person.png"
            alt="Profil"
          /></a>
        <a href="/">Grafikforum</a>
      </nav>
    </header>

    <form action="/new-post" enctype="multipart/form-data" method="post">
      <input type="text" name="titel" />
      <input type="text" name="beschreibung" />
      <input type="file" name="bild" />
      <input type="submit" />
    </form>

  </body>
</html>