<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuen Beitrag erstellen</title>
</head>
<body>
  <header>
    <nav>
      <a href="/profil"><img src="/public/uploads/person.png" alt="Profil"></a>
      </a>
      <a href="/">Grafikforum</a>
    </nav>
  </header>

  <form action="/create_post" enctype="multipart/form-data" method="post">
    <input type="text" name="titel" placeholder="Titel">
    <input type="text" name="beschreibung" placeholder="Beschreibung">
    <input type="file" name="Bild">
    <input type="submit" value="Posten">
  </form>

</body>
</html>
