<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neuen Beitrag erstellen</title>
</head>
<body>
  <header>
    <nav>
        <img src="person.png" alt="" />
      </a>
      <a href="/">Grafikforum</a>
    </nav>
  </header>

<input type="file" id="file-upload">
</label>
</div>

<div class="details">
  <input type="text" placeholder="Titel...">
  <textarea placeholder="Beschreibung..."></textarea>
  <button>Posten</button>
</div>
</div>
   
</body>
</html>
