<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/profil"><img src="/public/uploads/person.png" alt="Profil"></a>
        </a>
        <a href="/">Grafikforum</a>
      </nav>
    </header>

    <!-- Container-Bereich -->
    <div class="container">
      <div class="form-box">
        <h2>NOEMI BRÖNNIMANN</h2>
      </div>
    </div>
    <div class="container_name">
        <div class="form-box">
            <a href="/profil">MEINE POSTS</a>
            <a href="/favoriten">FAVORITEN</a>
        </div>
      </div>

      <div class="container">
      <div class="form-box">
        <a href="/new-post">+ Neuer Beitrag</a>
      </div>

      </div>
{{#each posts}}
  <div class="post">
    <img src="/uploads/{{bild}}" alt="{{titel}}">
    <h2>{{titel}}</h2>
  </div>
{{else}}
  <p>Du hast noch keine Beiträge erstellt.</p>
{{/each}}
 
  </body>
</html>