<html lang="de">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" />

  </head>

  <body>

    <header>

      <nav>

        <a href="/profil"><img
            src="public/uploads/person.png"
            alt="Profil"
          /></a>

        <a href="/">Grafikforum</a>
      </nav>

    </header>

    <!-- Container-Bereich -->

    <div class="container">

      <div class="form-box">

        <h2>GRAFIKFORUM</h2>
        <p>Willkommen!</p>

      </div>

    </div>

    <div class="container">

      {{#each posts}}

        <div class="form-box">
          <img class="bild-box" src="uploads/{{this.bild}}" />

          <a href="/post-ansicht"><h3>{{this.titel}}</h3></a>

          <p>{{this.beschreibung}}</p>

          <form
            action="/like/{{id}}"
            enctype="multipart/form-data"
            method="POST"
          >
            <input type="submit" value="favorit" />

          </form>

        </div>

      {{/each}}

    </div>

  </body>

</html>